$blue-back: rgb(62, 66, 93);
$blue-header: rgb(87, 91, 125);
$white: rgb(255, 255, 255);


nav {
  background-color: $blue-header;
}

.navbar-light {
  .navbar-brand {
    color: $white;
  }

  .nav-link {
    color: $white;
  }
}

.jumbotron {
  background-color: $blue-back;
  color: $white;
}
