// -----------------------------------------------------------------------------
// bootstrap variables
// -----------------------------------------------------------------------------
@import '../node_modules/bootstrap/scss/variables';

// -----------------------------------------------------------------------------
// classpip variables
// -----------------------------------------------------------------------------

$body-back: #f0efef;
$body-bg: $body-back;
//$body-color: $gray-light;

$navbar-border-radius: 0;

// -----------------------------------------------------------------------------
// bootstrap
// -----------------------------------------------------------------------------
@import '../node_modules/bootstrap/scss/bootstrap';

// -----------------------------------------------------------------------------
// classpip-theme
// -----------------------------------------------------------------------------
// - fonts ---------------------------------------------------------------------

body {
  font-family: 'Open Sans', sans-serif;
}
